---
layout: default
---
<a id="top"></a>

<h1>About Me</h1>

<p style="font-size:18px">
    I am a master student of Robotics Department at University of Michigan (<a href="https://robotics.umich.edu/" target="_blank">UMich</a>), 
    where I work on underwater robot digital twin with professor <a href="https://robotics.umich.edu/people/faculty/katie-skinner/" target="_blank">Katherine Skinner</a>.
    Prior to that, I received my bachelor of science degree from University of North Carolina at Chapel Hill (<a href="https://www.unc.edu/" target="_blank">UNC</a>), 
    double majoring in Physics and Applied Mathematics. Advised by professor <a href="https://www.pml.unc.edu/about-me" target="_blank">Pedro Sa&#x301;enz</a>, 
    I conducted natural science research on fluid mechanics and received training on hands-on engineering skills.
</p>


<p style="font-size:18px">
    I am interested in closing <b>sim2real</b> gap for robot simulation, facilitating robot learning in pure simulator environment and achieving zero-shot deployment in real world. 
    I am proficient in <b>Isaac Sim\Lab</b> with a focus on <b>high-fidelity digital twin</b> and <b>GPU-accelerated computing</b>.
    I am also a self-confessed geek for computer graphic renderer in video games.
</p>

<h1>News</h1>

<p style="font-size:18px">
    <p><font color="black"><i>04/2025</i></font> OceanSim is featured by NVIDIA Robotics!</p>
    <p><font color="black"><i>04/2025</i></font> 🔥 Beta version of OceanSim is released!</p>
    <p><font color="black"><i>03/2025</i></font> 🎉 OceanSim will be presented at AQ²UASIM and the late-breaking poster session at ICRA 2025!</p>
    <p><font color="black"><i>12/2024</i></font> I have joined the Field Robotics Group at UMich Robotics.</p>
</p>

<h1>Experience</h1>
{% include experience.html %}

<h1 id="pub">Publications <font style="font-size:50%;">* denotes equal contributions</font></h1>
{% include publications.html %}

<h1 id="edu">Education</h1>
{% include education.html %}

<h1 id="hon">Honors & Awards</h1>
{% include awards.html %}


<!-- ! make images in zoom class clickable -->
{% include clickable-image.html %}

<!-- ! Template reference -->
<p style="text-align: right; font-size: small;">Template from <a href="https://github.com/silvery107/template.site">here</a></p>
