<table class="award">
    <tbody>
        <tr>
            <td>
                <p class="award">Department of Physics and Astronomy, UNC, April 2023</p>
            </td>
            <td>
                <h5 class="award">Daniel C. Johnson Outstanding Junior Award</h5>
                <p>➢ Top 1 grade in junior class within department.</p>
                <p>➢ Awarded annually to the the most outstanding student judged by faculty committee.</p> 
            </td>
        </tr>
        <tr>
            <td>
                <p class="award">Department of Undergraduate Research, UNC, May 2023</p>
            </td>
            <td>
                <h5 class="award">Summer Undergraduate Research Fellowship</h5>
                <p>➢ 54 recipients at year 2023. $4000 fellowship granted.</p>
            </td>
        </tr>
        <!-- <tr>
            <td>
                <p class="award">Nov 2019</p>
            </td>
            <td>
                <p class="award">Second Class of the Merit Student Scholarship</p>
            </td>
        </tr> -->
    </tbody>
</table>
