<table class="award">
    <tbody>
        <tr>
            <td>
                <p class="award">Department of Physics and Astronomy, UNC, April 2023</p>
            </td>
            <td>
                <font color="black"><p class="award">Daniel C. Johnson Outstanding Junior Award</p></font>
                <p style="font-size:16px">Awarded annually to the most outstanding student judged by faculty committee.</p>
            </td>
        </tr>
        <tr>
            <td>
                <p class="award">Department of Undergraduate Research, UNC, May 2023</p>
            </td>
            <td>
                <font color="black"><p class="award">Summer Undergraduate Research Fellowship</p></font>
                <p style="font-size:16px">54 recipients at year 2023. $4000 fellowship granted.</p>
            </td>
        </tr>
        <!-- <tr>
            <td>
                <p class="award">Nov 2019</p>
            </td>
            <td>
                <p class="award">Second Class of the Merit Student Scholarship</p>
            </td>
        </tr> -->
    </tbody>
</table>
