<table class="experience">
  <tbody>
    <tr>
      <td>
        <img width="50" src="assets/img/U-M_Logo-Hex.png">
      </td>
      <td>
        <font color="black"><b>University of Michigan at Ann Arbor, US</b></font>
        <br>
        Aug 2024 - Present, Master of Science in Robotics
      </td>
    </tr>
    <tr>
      <td>
        <img width="50" src="assets/img/UNC_logo.png">
      </td>
      <td>
        <font color="black"><b>University of North Carolina at Chapel Hill, US</b></font>
        <br>
        Sep 2020 - May 2024, Bachelor of Science in Applied Mathamatics with a second major in Physics
      </td>
    </tr>
  </tbody>
</table>
