<table class="experience">
  <tbody>
    <!-- !UMich FRoG-->
    <tr>
      <td>
        <img width="50" src="assets/img/FRoG_logo.svg">
      </td>
      <td>
        <font color="black"><b>Research Assistant</b></font>
        <br>
        Field Robotics Group, UMich, Dec 2024 - Present
      </td>
    </tr>
    <!-- !UNC PML -->
    <tr>
      <td>
        <img width="50" src="assets/img/PML_logo.jpg">
      </td>
      <td>
        <font color="black"><b>Undergraduate Researcher</b></font>
        <br>
        Physical Mathematics Lab, UNC, Jan 2022 - May 2024
      </td>
    </tr>
  </tbody>
</table>
