<table class="experience">
  <tbody>
    <!-- !UMich FRoG-->
    <tr>
      <td>
        <img width="50" src="assets/img/placeholder.jpg">
      </td>
      <td>
        <font color="black"><b>Research Assistant</b></font>
        <br>
        Dec 2024 - Present, University of Michigan, Ann Arbor, MI, US
      </td>
    </tr>
    <!-- !UNC PML -->
    <tr>
      <td>
        <img width="50" src="assets/img/placeholder.jpg">
      </td>
      <td>
        <font color="black"><b>Undergraduate Researcher</b></font>
        <br>
        Jan 2022 - May 2024, National University of Singapore, Singapore
      </td>
    </tr>
  </tbody>
</table>
