<table class="projects">
  <tbody>
    <!-- ! Bot lab -->
    <tr><td>
      <div class="project_cell">
        <img src="assets/gif/bot_lab.webp" width="250" class="zoom">
      </div>
      <div class="project_cell">
        <p style="font-size:18px;margin-bottom: 0px;">
          <font color="black"><b>Autonomous Maze Traversal with Wheeled Mobile Robot</b></font>
        </p>
        <p>
          Autonomous maze exploration and mapping framework for a wheeled robot.
          The robot performs A* plannning to the evolving frontiers on a 2D occupancy grid map.
          Lidar scan combined with the particle filter is used for SLAM.
        </p>
      </div>
    </td></tr>
    <!-- ! Arm lab -->
    <tr><td>
      <div class="project_cell">
        <img src="assets/gif/arm_lab.gif" width="250" class="zoom">
      </div>
      <div class="project_cell">
        <p style="font-size:18px;margin-bottom: 0px;">
          <font color="black"><b>Manipulator Vision-based Object Sorting</b></font>
        </p>
        <p>
          Object identification and sorting based on shape, color, and size using a RX-200 robotic arm aided by stereo vision camera.
        </p>
      </div>
    </td></tr>
    <!-- ! Solid Walker -->
    <tr><td>
      <div class="project_cell">
        <img src="assets/gif/solid_walker.webp" width="250" class="zoom">
      </div>
      <div class="project_cell">
        <p style="font-size:18px;margin-bottom: 0px;">
          <font color="black"><b>Spontantous Walking of Solid Particles on Fluid Interfaces</b></font>
        </p>
        <p>
          Discovered the effect in which a micro-particle breaks symmetry and move spontaneously on a vibrated interface between two fluids.
          Proposed a fluid dynmaic model and captured its behavior in Matlab.
        </p>
      </div>
    </td></tr>
    <!-- ! Shaker Assembly -->
    <tr><td>
      <div class="project_cell">
        <img src="assets/gif/shaker_assembly.gif" width="250" class="zoom">
      </div>
      <div class="project_cell">
        <p style="font-size:18px;margin-bottom: 0px;">
          <font color="black"><b>Experimental Platform for Vibrational Fluid Dynamic Research</b></font>
        </p>
        <p>
          A new mechanical design that leverages Modal Shop electrodynamic shaker interfaced with LabView and NI-DAQ to perform high precision fluid dynamic experiment. 
        </p>
      </div>
    </td></tr>
    <!-- ! Single-Image to Camera Pose with iNeRF and PoseCNN -->
    <!-- <tr><td>
      <div class="project_cell">
        <img src="assets/img/placeholder.jpg" width="250" class="zoom">
      </div>
      <div class="project_cell">
        <p style="font-size:18px;margin-bottom: 0px;">
          <font color="black"><b>Single-Image to Camera Pose with iNeRF and PoseCNN</b></font>
        </p>
        <p>
          <img alt="GitHub Repo stars" src="https://img.shields.io/github/stars/silvery107/fast-inerf?style=plastic&logo=github">
          [<a href="https://github.com/silvery107/fast-inerf" target="_blank">
            Code
          </a>]
          [<a href="assets/img/placeholder.jpg" target="_blank">
            PDF
          </a>]
          [<a href="assets/img/placeholder.jpg" target="_blank">
            System Diagram
          </a>]
          <br>
          We present an efficient and robust system for view synthesis and pose estimation by integrating PoseCNN and iNeRF. Our method leverages the pose and object segmentation predictions from PoseCNN to improve the initial camera pose estimation and accelerate the optimization process in iNeRF.
        </p>
      </div>
    </td></tr> -->
  </tbody>
</table>
