<table class="projects">
  <tbody>
    <!-- ! Kuka Teleop -->
    <tr><td>
      <div class="project_cell">
        <img src="assets/gif/teleop_cap.gif" width="250" class="zoom">
      </div>
      <div class="project_cell">
        <p style="font-size:18px;margin-bottom: 0px;">
          <font color="black"><b>Synthethic Manipulation Data Generation with Kuka Teleop in Isaac Sim</b></font>
        </p>
        <p>
          Interfacing Isaac Sim VR extension with Apple Vision joystick and motion planning with MoveIt for tele-operating Kuka.
          Leveraged Isaac Sim physics for simulation of forced manipulation task such as closing oil cap, and deformable object such as engine dipstick. 
          Synthetic vision and force throughput can reach 20Hz+ on a RTX 3090 machine, facilitating downstream policy training.
        </p>
      </div>
    </td></tr>
    <!-- ! Terrain Generation -->
    <tr><td>
      <div class="project_cell">
        <img src="assets/gif/terrain-gen.gif" width="250" class="zoom">
      </div>
      <div class="project_cell">
        <p style="font-size:18px;margin-bottom: 0px;">
          <font color="black"><b>High Fidelity Terrain Synthesis for Object Detection in Natural Environments</b></font>
        </p>
        <p>
          Leveraging OpenUSD, the terrain generation takes textures from real world scan or procedurally generated, 
          automatically parses AO\Normal\bump\etc., and a low-res mesh displaced from displacement map is used for physics simulation.
          The gif demonstrates spawning distractors (underwater plants) and target objects (sea urchins) for SDG.
        </p>
      </div>
    </td></tr>
    <!-- ! Ocean deformation -->
    <tr><td>
      <div class="project_cell">
        <img src="assets/gif/ocean_deform.gif" width="250" class="zoom">
      </div>
      <div class="project_cell">
        <p style="font-size:18px;margin-bottom: 0px;">
          <font color="black"><b>Simulating Water Caustics in Omniverse RTX Renderer</b></font>
        </p>
        <p>
          By binding opaque material to a mesh connected to a Warp kernel for <a href="https://github.com/NVIDIA/warp/blob/main/exts/omni.warp/omni/warp/nodes/_impl/OgnSampleOceanDeform.py" target="_blank">Ocean Deformation</a>, 
          we can simulate water caustics in Omniverse raytracing renderer. The gif demonstrates the effect of water caustics as changing light attributes.
        </p>
      </div>
    </td></tr>
    <!-- ! Bot lab -->
    <tr><td>
      <div class="project_cell">
        <img src="assets/gif/bot_lab.webp" width="250" class="zoom">
      </div>
      <div class="project_cell">
        <p style="font-size:18px;margin-bottom: 0px;">
          <font color="black"><b>Autonomous Maze Traversal with Wheeled Mobile Robot</b></font>
        </p>
        <p>
          Autonomous maze exploration and mapping framework for a wheeled robot.
          The robot performs A* plannning to the evolving frontiers on a 2D occupancy grid map.
          Lidar scan combined with the particle filter is used for SLAM.
        </p>
      </div>
    </td></tr>
    <!-- ! Arm lab -->
    <tr><td>
      <div class="project_cell">
        <img src="assets/gif/arm_lab.gif" width="250" class="zoom">
      </div>
      <div class="project_cell">
        <p style="font-size:18px;margin-bottom: 0px;">
          <font color="black"><b>Manipulator Vision-based Object Sorting</b></font>
        </p>
        <p>
          Object identification and sorting based on shape, color, and size using a RX-200 robotic arm aided by the stereo vision camera.
        </p>
      </div>
    </td></tr>
    <!-- ! Solid Walker -->
    <tr><td>
      <div class="project_cell">
        <img src="assets/gif/solid_walker.webp" width="250" class="zoom">
      </div>
      <div class="project_cell">
        <p style="font-size:18px;margin-bottom: 0px;">
          <font color="black"><b>Spontantous Walking of Solid Particles on Fluid Interfaces</b></font>
        </p>
        <p>    
          <i>(Oral) Division of Fluid Dynamics (DFD) 2024</i>
          [<a href="https://1drv.ms/p/c/85bbabe9b3a76d0e/EQdJkofeWK5Ls5CRiJ7q-RkBnVeam0z2w_5VUO0p5k5GJQ" target="_blank">
            PPT
          </a>]
          Discovered the effect of micro-particles breaking symmetry and move spontaneously on a vibrated interface between two fluids.
          Proposed a coupled PDE model and simulate in Matlab.
        </p>
      </div>
    </td></tr>
    <!-- ! Shaker Assembly -->
    <tr><td>
      <div class="project_cell">
        <img src="assets/gif/shaker_assembly.gif" width="250" class="zoom">
      </div>
      <div class="project_cell">
        <p style="font-size:18px;margin-bottom: 0px;">
          <font color="black"><b>Experimental Platform for Vibrational Fluid Dynamic Research</b></font>
        </p>
        <p>
          A new mechanical design that leverages Modal Shop electrodynamic shaker interfaced with LabView and NI-DAQ to perform high precision fluid dynamic experiment. 
        </p>
      </div>
    </td></tr>
    <!-- ! Single-Image to Camera Pose with iNeRF and PoseCNN -->
    <!-- <tr><td>
      <div class="project_cell">
        <img src="assets/img/placeholder.jpg" width="250" class="zoom">
      </div>
      <div class="project_cell">
        <p style="font-size:18px;margin-bottom: 0px;">
          <font color="black"><b>Single-Image to Camera Pose with iNeRF and PoseCNN</b></font>
        </p>
        <p>
          <img alt="GitHub Repo stars" src="https://img.shields.io/github/stars/silvery107/fast-inerf?style=plastic&logo=github">
          [<a href="https://github.com/silvery107/fast-inerf" target="_blank">
            Code
          </a>]
          [<a href="assets/img/placeholder.jpg" target="_blank">
            PDF
          </a>]
          [<a href="assets/img/placeholder.jpg" target="_blank">
            System Diagram
          </a>]
          <br>
          We present an efficient and robust system for view synthesis and pose estimation by integrating PoseCNN and iNeRF. Our method leverages the pose and object segmentation predictions from PoseCNN to improve the initial camera pose estimation and accelerate the optimization process in iNeRF.
        </p>
      </div>
    </td></tr> -->
  </tbody>
</table>
