<!-- !OceanSim -->
<p style="font-size:18px;margin-bottom: 0px;">
    <font color="black">
        <b>OceanSim: A GPU-Accelerated Underwater Robot Perception Simulation Framework</b>
    </font>
    <br>
    <i>arXiv:2503.01074</i>
    <br>
    Song, J.*, <b>Ma, H.*</b>, Bagoren, O., Sethuraman, A., Zhang, Y., &  Skinner, K. 
</p>
<table class="projects">
    <tbody>
        <tr><td>
            <div class="project_cell">
                <img src="assets/gif/oceansim_demo.gif" width="250" class="zoom">
            </div>
            <div class="project_cell">
                <img alt="GitHub Repo stars" src="https://img.shields.io/github/stars/umfieldrobotics/OceanSim?style=plastic&logo=github">
                [<a href="https://github.com/umfieldrobotics/OceanSim#" target="_blank">
                    Code
                </a>]
                [<a href="https://umfieldrobotics.github.io/OceanSim/" target="_blank">
                    Web
                </a>]
                [<a href="https://doi.org/10.48550/arXiv.2503.01074" target="_blank">
                    PDF
                </a>]
                [<a href="https://www.linkedin.com/posts/jingyu-song-93763a132_robotics-underwaterrobotics-simulation-activity-7313545874091958272-qnwC?utm_source=share&utm_medium=member_desktop&rcm=ACoAACP_PewBWohb_VVSmFLeoIVerG8bffy0KbQ" target="_blank">
                    Media
                </a>]
                <br>
                <p>
                    We propose OceanSim, a high-fidelity GPU-accelerated underwater simulator built upon Isaac Sim for underwater robots applications.
                    We leveraged advanced physics-based rendering and GPU computation to reduce the sim-to-real gap for common underwater sensors and fast SDG. 
                </p>
            </div>
        </td></tr>
    </tbody>
</table>





<!-- !Height Control for Wheeled-Bipedal Robots -->
<!-- <p style="font-size:18px;margin-bottom: 0px;">
    <font color="black">
        <b>Height Control and Optimal Torque Planning for Jumping with Wheeled-Bipedal Robots</b>
    </font>
    <br>
    <i>International Conference on Advanced Robotics and Mechatronics</i>. IEEE. 2021
    <br>
    <b>Zhuang, Y.</b>, Xu, Y., ... & Fu, C. 
</p>
<table class="projects">
    <tbody>
        <tr><td>
            <div class="project_cell">
                <link rel="preload" as="image" href="assets/img/placeholder.jpg" media="(max-width: 250px)">
                <img src="assets/img/placeholder.jpg" width="250" class="zoom"
                    onmouseover="this.src='assets/img/placeholder.jpg'" 
                    onmouseout="this.src='assets/img/placeholder.jpg'">
            </div>
            <div class="project_cell">
                <img alt="GitHub Repo stars" src="https://img.shields.io/github/stars/silvery107/wheeled-bipedal-jumping?style=plastic&logo=github">
                [<a href="https://github.com/silvery107/wheeled-bipedal-jumping" target="_blank">
                    Code
                </a>]
                [<a href="assets/videos/placeholder.jpg" target="_blank">
                    Video
                </a>]
                [<a href="https://ieeexplore.ieee.org/document/9536196" target="_blank">
                    PDF
                </a>]
                <br>
                <p>
                    We present a wheeled-bipedal jumping dynamical (W-JBD) model to optimize the height control,
                    and the Bayesian optimization for torque planning (BOTP) method based on a joint
                    optimization framework for torque planning to achieve accurate height control and minimal energy
                    cost.
                </p>
            </div>
        </td></tr>
    </tbody>
</table> -->
